html {
    background-color: #18191B;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 10%;
    box-sizing: border-box;
}

a {
    color: skyblue;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

h1,
p {
    color: #FFFFFF;
    font-family: "Ludica Sans Unicode";
}

.title {
    position: fixed;
    top: 15px;
    left: 0px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
    z-index: 1000;
}

.name {
    line-height: 0.8;
    padding: 20px;
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 250;
}

.job {
    position: fixed;
    top: 80px;
    left: 0;
    line-height: 0.8;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 200;
    padding: 10px;
    z-index: 1000;
}

.notes {
    position: fixed;
    top: 98px;
    left: 150px;
    line-height: 0.8;
    font-family: "Poppins";
    font-size: 10px;
    font-weight: 200;
}

.profile {
    position: fixed;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    left: 0px;
    bottom: 0px;
    font-family: "Poppins";
    font-weight: 300;
}

.rikai {
    position: fixed;
    top: 150px;
    left: 10px;
    border: #ffffff solid 1px;
    border-radius: 10px;
    width: 90px;
    height: 65px;
    padding-left: 40px;
    white-space: nowrap;
}