<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <title>giasupe | works</title>

  <meta name="description" content="giasupeの連絡先をまとめたページ。">
  <meta name="format-detection" content="telephone=no,address=no,email=no">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=content_copy,open_in_new" />
</head>

<body>
  <h1 class="title">
    giasupe
    <a href="/index.html" class="exchange">about</a>
  </h1>
  <h2 class="page-title">
    works
  </h2>
  <h3>
  時計アプリ
  </h3>
  <a href="https://giasupe.github.io/clock/" target="_blank" rel="noopener noreferrer">
    <img class="images" src="/images/github_clock.png" alt="時計アプリ">
  </a>
  <p class="works details">
    上部のバーで一日の割合を表しています。<br>
    その下に現在時刻を秒まで表示しています。<br>
    Electronへの対応を見据えて、カーソルに時刻が表示する機能を実装しています。
  </p>
  <div class="box"> </div>
  <p class="main-text works">
    制作作品はGitHubにて公開しています。<br>
    下記リンクよりご覧ください。</p>
  <p>
    <a class="sns-link works" href="https://github.com/giasupe" target="_blank" rel="noopener noreferrer">
      <span class="link-text">GitHub</span></a>
    <script src="/js/main.js" defer></script>
  </p>
</body>
</html>