<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>giasupe | works</title>

        <meta name="description" content="giasupeの連絡先をまとめたページ。">
        <meta name="format-detection" content="telephone=no,address=no,email=no">

        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/main.js" defer></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>
    <body>
      <h1 class="title">
        giasupe
        <a href="/index.html" class="exchange">about</a>
      </h1>
      <h2 class="page-title">
        works
      </h2>
      <p class="main-text works">
        現在、特に公開できる作品はありませんが、今後の更新でポートフォリオを充実させていく予定です。<br>
        これまでの学習やプロジェクトの成果をまとめたページを作成し、随時更新していきますので、ぜひご期待ください。
    </body>
</html>